{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <label class="col-form-label">日付</label>
                            </div>
                            <div class="col-3">
                                <label class="col-form-label text-center">金額</label>
                            </div>
                        </div>
                    </li>
                    {% regroup item_list by date|date:"y/m" as item_by_month %}
                    {% for groupMonth in item_by_month %}
                        {% for item in groupMonth.list %}
                            <li class="list-group-item">
    {#                             item_detail_contents.html を参考に必要な項目を追加してください #}
                                <div class="row">
                                    <div class="col-2">
                                        <label class="col-form-label">{{ item.date|date:"m/d" }}</label>
                                    </div>
                                    <div class="col-3 text-right">
                                        <label class="col-form-label">{{ item.money|default_if_none:"" }}</label>
                                    </div>
                                    <div class="col-3">
                                        <label class="col-form-label">{{ item.type_name|default_if_none:"" }}</label>
                                    </div>
                                    <div class="col-4.5 float-right">
{#                                        <a class="btn btn-outline-dark " href="{% url 'detail' item.pk %}">詳細</a> とりあえず使わない#}
                                        <a class="btn btn-outline-dark " href="{% url 'update' item.pk %}">編</a>
                                        <a class="btn btn-outline-dark " href="{% url 'delete' item.pk %}">削</a>
                                    </div>
                                </div>
                            </li>
                            {% if forloop.last %}
                                <li class="list-group-item bg-light">
                                    <div class="row">
                                        <div class="col-2">
                                            <label class="col-form-label">{{ groupMonth.grouper }}</label>
                                        </div>
                                        <div class="col-3 text-right">
                                            <label class="col-form-label">{{ item.total }}</label>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">
                                対象のデータがありません
                            </li>
                        {% endfor %}
                    {% endfor %}


                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right mt-1 mb-3">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
